body {
    padding: 0;
    margin: 0;
}

.searchInputCtn {
    display: flex;
    justify-content: center;
    padding: 10px 0;
} 

.searchInputCtn input {
    width: 90vw;
    padding: 5px 0;
    font-size: 20px;
}

.beerCard {
    border: 1px lightgray solid;
    display: flex;
    align-items: center;

}

.beerCard h4 {
    color: gray;
}

.beerCardImgCtn {
    width: 35vw;
    display: flex;
    justify-content: center;
}

.beerCardImgCtn img {
    height: 35vw;
}

.beerCardInfoCtn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 65vw;
}



.beerDetailsCtn {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.beerDetailsImgCtn {
    display: flex;
    justify-content: center;
}

.beerDetailsImgCtn img {
    height: 40vh;
}

.simpleFlex {
    display: flex;
    justify-content: space-between;
}

.brightGray {
    color: gray;
}

.beerDetailsContributor {
    color: rgb(129, 129, 129);
    font-weight: bold;
}


.newBeerCtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.newBeerFrm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.newBeerFrmInputCtn label {
    padding-left: 15px;
    font-weight: bold;
    font-size: 15px;
}

.newBeerFrmInputCtn input {
    border-radius: 16px;
    border-color: rgb(233, 233, 233);
    width: 80vw;
    height: 30px;
}

.descriptionCtn input {
    height: 150px;
}

.newBeerBtn {
    display: flex;
    justify-content: center;
}

.newBeerBtn button {
    border-radius: 16px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(31, 132, 255);
    text-align: center;
    height: 40px;
    width: 85vw;
}